<h2>All books (<%= books.class %>)</h2>
<h3>Total: <%= BookRepository.new.count_all %> books</h3>
<h3><strong>Most recent books by "Koru" (max 5):</strong> <%= BookRepository.new.most_recent_by_author("Koru") %></h3>
<h3><strong>Most recent books (10): </strong> <%= BookRepository.new.most_recent_books %></h3>

<% if books.any? %>
  <div id="books">
    <% books.each do |book|%>
      <div class="book">
        <h3><%= book.title %></h3>
        <p>by <strong><%= book.author %></strong></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>

