<h2>Add book</h2>

<%=
form_for :book, routes.books_path do
  div class: 'input' do
    label      :title
    text_field :title
  end

  div class: 'input' do
    label      :author
    text_field :author
  end

  div class: 'controls' do
    submit 'Create Book'
  end
end
%>

<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
